.header{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:flex-start;
    background-color:black;    
}

.footer{
    display:block;
    background-color:black;
    color:white;
    text-align:center;
    padding:1%;
}
body{

}

.item{
    /* border:2px solid ; */
    margin:5px;
    font-family:Source Sans Pro,sans-serif;
    flex-basis:5%;
    text-align:center;
    color:white;
    font-weight:bold;   
}

.home{
    display:block;
    /* margin-left:-9px;
    margin-right:-8px; */
}

.homePicture{
    width:100%;
}

/* .titleHeader{
    margin-top: 0px;
} */
.homeSymbol{
    border-radius:50%;
    border:solid steelblue;
    width: 120%;

}

.home-grid{
    margin-left:20%;
    margin-right:20%;
    display:grid;
    grid-template:1fr 1fr 1fr/1fr 3fr 4fr;
    align-items:center;
    justify-content:center;
    row-gap:50px;
    padding-bottom:10%;
    
}

.title{
    font-family:oswald;
    font-size:70px;
    text-align:center;

}

.footerText{
    font-family:oswald;
    font-size:40px;
    text-align:center;
}

.subtitle{
    font-family:oswald;
    font-size:20px;
    text-align:center;
    font-style:italic;

}
.subheading{
    font-family:oswald;
    font-size:20px;
    /* font-weight:bold; */
    text-align:center;
}

.caption{
    font-family:roboto;
    
}
.precaption{
    font-family:roboto;
    font-weight:bold;
}

.headline{
    font-family:oswald;
    font-size:40px;

}

.aboutContent{
    display:block;
    margin-left:25%;
    margin-right:25%;
    margin-bottom:10%;
    text-align:center;
}

.steven1{
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    width:60%;
}

.aboutPicture{
    width:100%;
    margin-bottom:-5px;
}

.samplesContent{
    display:block;
    margin-bottom:10%;
    text-align:center;
}

.audioPadding{
    margin-bottom:3%;
}

.samplesImage{
    border-radius: 50%;
}

.samples{
    background-image:url("images\about-pic1.jpg")
}

.book-grid{
    margin-left:20%;
    margin-right:20%;
    display:grid;
    grid-template:repeat(12, 1fr) /repeat(2,1fr);
    /* border:solid; */
    column-gap:2%;
    /* align-items:end; */
    
}

.item-book-full{
    grid-column-end: span 2;
    text-align:start;
    font-family:oswald;
    font-size:20px;
}

.item-book-full-response{
    grid-column-end: span 2;
    text-align:start;
    font-family:roboto;
    font-size:20px;
}

.item-book-half{
    grid-column-end: span 1;
    text-align:start;
    font-family:oswald;
    font-size:20px;
}

.item-book-half-response{
    grid-column-end: span 1;
    text-align:start;
    font-family:roboto;
    font-size:20px;
}

.item-book-full-notes{
    grid-column-end: span 2;
    grid-row-start: 10;
    grid-row-end:13;
    font-family:roboto;
    font-size:20px;
}

.item-submit{
    /* border:2px solid ; */
    font-family:Source Sans Pro,sans-serif;
    color:white;
    font-weight:bold;
    display:block;
    justify-content:center;
    text-align:center;
}

.submit-align{
    display:flex;
    justify-content: center;
}

.bookBackground{
    background-color:whitesmoke;
    margin-left:15%;
    margin-right:15%;
}

.specialNote{
    font-family:oswald;
    color:red;
    font-size:30px;
    text-align:center;
}